h1 {
	text-transform: uppercase;
	letter-spacing: 1.3em;
	text-align: center;
	/*font-style: sans-serif;*/
	font-family: sans-serif;
	position:fixed;
	transform: translateX(-50%);
	left:50%;
}
h3, h2 {
	text-align: center;
	position: fixed;
	transform: translateX(-50%);
	left:50%;
}
h3 {
	padding-top:35px;
}
.title {
	padding-top:0px;
}


.bar {
    /*fill: #444;*/
    border-radius: 25px;
    transition: all 0.1s linear;
}

.bar:hover {
    opacity: 0.7;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.legend {
    padding: 5px;
    font: 16px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}

#container {
	padding-top: 150px;
}

.tooltip {
    background: #fff;
    box-shadow: 0 0 5px #999999;
    border-radius: 5px;
    color: #333;
    font-size: 12px;
    left: 120px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 150px;
    z-index: 10;
    display: block;
    opacity: 0;
}