h1 {
	text-transform: uppercase;
	letter-spacing: 1.3em;
	text-align: center;
	/*font-style: sans-serif;*/
	font-family: sans-serif;
	position:fixed;
	transform: translateX(-50%);
	left:50%;
}
.title {
	padding-top:40px;
	padding-bottom:60px;
}


.bar {
    fill: #3498df;
    border-radius: 25px;
}

.bar:hover, .pending:hover {
    fill: #3498ff;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.legend {
    padding: 5px;
    font: 16px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}

    .tooltip {
        background: #fff;
        box-shadow: 0 0 5px #999999;
        border-radius: 5px;
        color: #333;
        font-size: 12px;
        left: 130px;
        padding: 10px;
        position: absolute;
        text-align: center;
        top: 95px;
        z-index: 10;
        display: block;
        opacity: 0;
    }