/***** nav ****/
.topnav {
    overflow: hidden;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    border-radius: 25px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway';
    font-size: 17px;
    transition: all 0.1s linear;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #aaa;
}

/* Add a color to the active/current link */
.topnav a.active {
    color:#ffcc2e;
}
/***** normal Styling things *****/
body {
    padding: 0px;
    margin: 0;
    /*left:0;*/
    /*right:0;*/
}




/***** integrated Styling ****/

/*.title {
    padding-top: 50px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}*/

h1,
h3,
h2,
h4,
h5,
p {
    padding:0px;
    margin:0px;
    text-align: center;
    font-family: 'Raleway';
    font-weight:normal;
}
h1 {
    font-family: 'Raleway';
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}
h2 {
    padding-bottom:10px;
    font-size: 2em;
    font-weight: bold;
}
label {
}
h3 {
    font-size: 1em;
    font-weight: normal;
}
h4 {
    padding-bottom: 30px;
    font-size: 1.2em;
}
h5 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size:1.2em;
}

/*#settings {
    position: absolute;
    height: 25px;
    margin-left: 100%;
    margin-top: 45px;
    /*image-rendering: auto;*/
    /*image-rendering: crisp-edges;*/
    /*image-rendering: pixelated;}*/

/************** main vis Styling **************/

#date_text {
    font-weight:bold;
}

.bar {
    /*fill: #444;*/
    border-radius: 5000px;
    transition: all 0.1s linear;
}

.bar:hover {
    opacity: 0.7;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    /*stroke-dasharray: */
    /*shape-rendering: crispEdges;*/
}

.border {
    stroke: #000;
    /*font-family: 'Raleway', sans-serif;*/
    fill: none;
}


#container {
    /*width: 100%;*/
    padding-top: 40px;
    padding-left:50px;
}

.tooltip {
    background: #fff;
    box-shadow: 0 0 5px #999999;
    border-radius: 5px;
    color: #333;
    font-size: 12px;
    left: 120px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 150px;
    z-index: 10;
    display: block;
    opacity: 0;
}

/************ Settings Page Styling ************/

.fWrapper {
    padding-top: 50px;
    /*padding-left: 150px;*/
    min-height:649px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    /*margin:10px auto;*/
    /*margin-left:50%;*/
    /*margin-right:50%;*/
    margin: auto;
    display: block;
}

/*input.selected*/

.textInput {
    width:250px;
    border-radius: 25px;
    border-style: solid;
    border-color: #eee;
    padding: 10px 15px 10px 15px;
}

.fContainer {
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Raleway';
    font-size: 15px;
}
input:focus {
    outline:none;
}

.aSettings {
    padding:30px;
    border-width: 2px;
    border-color: #f3f3f3;
    border-radius: 25px;
    border-style: solid;
    min-width:400px;
    background-color: #fafafa;
    /*background:#000;*/
    margin: 0 auto;
    /*height:200px;*/
}



#calAPI, #rtAPI {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  /*float: left;*/
}

#form {
    border-width: 2px;
    border-color: #f3f3f3;
    border-radius: 25px;
    border-style: solid;
    background-color: #fafafa;
    min-height: 400px;
    float: left;
	padding: 30px;
	width:300px;
}
input {
	/*padding:50px;*/
	/*text-align: center;*/
}

#sbm {
    margin-top: 50px;
    text-align: center;
    /*margin-bottom:20px;*/
    background: #000;
    color:#fff;
    border-radius: 25px;
    letter-spacing: 1.6px;
    cursor: pointer;
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-radius: 40px;
    padding:13px 26px 13px 26px;
    transition: background-color 0.25s ease-in-out;
}


#sbmWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:50px;
}

#calWrapper {
    padding-bottom: 15px;
}

#calEWrapper {
    padding-bottom: 15px;
}

#rtWrapper {
    padding-bottom: 30px;
}

#dateWrapper {
    padding-bottom: 30px;
}

#disWrapper {
    padding-bottom: 30px; 
}

#siteNumWrapper {
    padding-bottom: 30px;
}


/* Checkbox container */
.inputLabel {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/** Hiding the default checkbox **/
.inputLabel input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/** Custom checkbox **/
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/** When the checkbox is checked, add a yellow background **/
.inputLabel input:checked ~ .checkmark {
    background-color: #ffcc2e;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.inputLabel input:checked ~ .checkmark:after {
    display: block;
}

.inputLabel .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/************ Signup Page Styling **********/

#parent {
    display: flex;
    height: 100vh;
}

p {
    font-size: 1.2em;
}

#narrow {
    width: 45%;
    background: url('hourglass-splash.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    vertical-align: middle;
}

#wide {
    flex: 1;
    /* Grow to rest of container */
}

.textContainer {
    padding: 70px;
}

.auth {
	bottom:5%;
	padding-top: 200px;
    margin-top: 40px;
    text-align: center;
    /*background-color: lightblue;*/
    width: 300px;
    height: 200px;
    margin: 0 auto;
    border-radius: 25px;
}

a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    /*text-transform: uppercase;*/
    font-size: 1em;
    font-weight: bold;
    /*letter-spacing: .2em;*/

}


#signin {
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    letter-spacing: 1.6px;
    color: #fff;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    transition: background-color 0.25s ease-in-out;
}
